.delbtn{background-color: aqua;
margin-left: auto;
margin-top: 15px;}

.mes{
    font-size: larger;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}